<nav class="navbar-web"[hidden]="nav.visible">
  <div class="container">
      <p class="navbar-brand heading-brand">QITEST MANAGER</p>
      <ul class="nav navbar-nav navbar-right" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link-web" routerLinkActive="active"  routerLink="/home">HOME</a></li>
          <li class="nav-item"><a class="nav-link-web" routerLinkActive="active" routerLink="/gestionetest">GESTIONE UTENTI/TEST</a></li>
          <li class="nav-item"><a class="nav-link-web" routerLinkActive="active" routerLink="/createst">CREA TEST</a></li>
          <li class="nav-item"><a class="nav-link-web" routerLinkActive="active" routerLink="/creautente">CREA UTENTE</a></li>
          <li class="nav-item"><a class="nav-link-web" routerLinkActive="active" routerLink="/gestionemateriale">GESTIONE MATERIALE</a></li>
          <li class="nav-item"><a class="nav-link-web" routerLinkActive="active" routerLink="/login">LOGOUT</a></li>
      </ul>
  </div>
</nav>
